*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
    min-height: 100vh;
  }
  
  nav {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #222;
    padding: 10px 12px;
    border-radius: 8px;
    
  }
  
  nav  a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    padding: 0 20px;
    text-decoration: none;
    
    z-index: 1;
  }


nav span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90px;
    border-radius: 8px;
    /* opacity: 0; */
    transition: .4s;
    background: linear-gradient(45deg, #4f1919, #ff3333);
  }

nav a:nth-child(1):hover~span{
  /* opacity: 1; */
  left: 0;
}

nav a:nth-child(2):hover~span{
  /* opacity: 1; */
  left:100px;
}
nav a:nth-child(3):hover~span{
  /* opacity: 1; */
  left: 200px;
}

nav a:nth-child(4):hover~span{
  left: 300px;
  /* opacity: 1; */
}
nav a:nth-child(5):hover~span{
  /* opacity: 1; */
  left: 400px;
  width: 100px;
  
}