*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
    background: #1F2833;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
}
.form{
    box-sizing: border-box;
    
    position: relative;

}
.form input{
    background: transparent;
    border: 2px solid greenyellow;
    outline: none;
    border-radius:8px ;
    font-size: 20px;
    height: 60px;
    width: 360px;
    padding-left: 20px;
    padding-right: 50px;
    color: #fff;
     
} 
label{ 
    position: absolute;
    top: 20px; 
    left: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    padding: 0 10px;
    transition:  0.4s;
    pointer-events: none;
}
.form input:focus~label,
.form input:valid~label
{
    top: -9px;
    font-size: 12px;
    background-color: #1F2833;
}
.form i{
    position: absolute;
    color: #fff;
    font-size: 25px;
    right: 20px;
    top: 15px;
    padding-left: 20px;
}
/* button{ */
   /* font-size: 20px; */
   /* color: #fff; */
   /* margin-top: 20px; */
   /* padding: 10px; */
   /* background-color: rgb(162, 224, 36); */
   /* width: 80%; */
   /* border-radius: 10px; */
   /* height: 50px; */
   /* border: none; */
   /* transition: .4s; */
/* } */
/* button:hover{ */
    /* background-color: #96e6a1; */
/* } */
/*  */
/*  */
/* span{ */
    /* color: #fff; */
    /* position: relative; */
    /* margin-top: 30px; */
/* } */
/* span a{ */
   /* color: #96e6a1; */
    /* position: relative; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* transition: 0.3s; */
    /* font-size: 20px; */
    /* padding: 10px; */
/*      */
/* } */
/* span a:hover{ */
    /* color:#5caab9; */
/* } */
/* span a:active{ */
    /* color: red; */
/* } */
/*  */
/*  */
/*  */
/*  */