body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #1F2833;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
input{
    color: #1F2833;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    
    
    height: 52px;
}
input::placeholder{
    color: #1F2833;
    text-transform: capitalize;
    letter-spacing: 2px;
    

}
input[type="text"]{
    border-radius:10px 0 0 10px;
    width: 550px;
    padding-left: 45px;

}
input[type="button"]{
    
    border-radius: 0 10px 10px 0;
    background-color: yellowgreen;
    transition: 0.3s;
}
input[type="button"]:hover{
    color: #fff;
    background-color: rgba(255 153 0);

}
.box i{
    color: yellowgreen;
    font-size: 20px;
    position: relative;
    left: 35px;
}